Source: mediabrowser
Section: misc
Priority: optional
Maintainer: HurricaneHernandez <carlos@techbyte.ca>
Build-Depends:	cli-common-dev (>= 0.7),
		libmono-cil-dev,
		mono-devel (>= 3.2.8),
		mono-xbuild,
		libsqlite3-dev (>= 3.7.2),
                libmediainfo0 (>= 0.7.52),
		libgdiplus,
		libwebp-dev
Standards-Version: 3.9.4

Package: mediabrowser
Architecture: all
Depends: ${shlibs:Depends}, ${cli:Depends}, ${misc:Depends}
Description: Media Browser Server is a home media server built on top of other popular open source technologies such as Service Stack, jQuery, jQuery mobile, and Mono. It features a REST-based api with built-in documention to facilitate client development. We also have client libraries for our api to enable rapid development.
