#! /usr/bin/make -f

%:
	dh $@ --with=cli

override_dh_auto_build:
	xbuild $(CURDIR)/MediaBrowser.Mono.sln /p:Configuration="Release Mono" /p:Platform="Any Cpu" /property:OutputPath='$(CURDIR)/opt/mediabrowser' /t:build

override_dh_auto_clean:
	xbuild $(CURDIR)/MediaBrowser.Mono.sln /p:Configuration="Release Mono" /p:Platform="Any Cpu" /t:clean

override_dh_makeclilibs:
	rm debian/mediabrowser/opt/mediabrowser/Mono.Posix.dll
	dh_makeclilibs 

override_dh_clideps:
	dh_clideps --exclude-moduleref=i:ole32
